---
import type { Heading3Block } from "../../libs/notion/types";
import Text from "./Text.astro";

type Props = {
  block: Heading3Block;
};

const { block } = Astro.props;
---

<>
  <h3>
    {block.heading_3.rich_text.map((t) => <Text text={t} />)}
  </h3>
</>
