---
import type { Heading1Block } from "../../libs/notion/types";
import Text from "./Text.astro";

type Props = {
  block: Heading1Block;
};

const { block } = Astro.props;
---

<>
  <h1>
    {block.heading_1.rich_text.map((t) => <Text text={t} />)}
  </h1>
</>
