---
import type { ListItemBlock } from "../../libs/notion/types";
import Text from "./Text.astro";

type Props = {
  block: ListItemBlock;
};

const { block } = Astro.props;
---

<>
  <ol>
    {
      block.blocks.map(
        (block) =>
          block.type === "numbered_list_item" && (
            <li>
              <Text text={block.numbered_list_item.rich_text} />
            </li>
          ),
      )
    }
  </ol>
</>
