---
import type { ParagraphBlock } from "../../libs/notion/types";
import Text from "./Text.astro";

type Props = {
  block: ParagraphBlock;
};

const { block } = Astro.props;
---

<>
  <p>
    {block.paragraph.rich_text.map((t) => <Text text={t} />)}
  </p>
</>
