---
import type { RichText } from "../../libs/notion/types";

type Props = {
  text: RichText;
};

const { text } = Astro.props;
---

<>
  {
    (() => {
      {
        const t = text.annotations.code ? (
          <code>{text.plain_text}</code>
        ) : (
          text.plain_text
        );
        return text.href ? <a href={text.href}>{t}</a> : t;
      }
    })()
  }
</>
