---
import type { RichText } from "../../libs/notion/types";

type Props = {
  text: RichText[];
};

const { text } = Astro.props;
---

<>
  {
    text.map((t) =>
      t.href ? <a href={t.href}>{t.plain_text}</a> : t.plain_text,
    )
  }
</>
