---
import type { RichText } from "../../libs/notion/types";

type Props = {
  text: RichText[];
};

const { text } = Astro.props;
---

<>
  <p>
    {
      text.map((t) => {
        if (t.href) {
          return <a href={t.href}>{t.plain_text}</a>;
        } else {
          return t.plain_text;
        }
      })
    }
  </p>
</>
