---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Content from "../components/notion/Content.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import { getPages, getPosts, getTitleProperty } from "../libs/notion/client";
import type {
  Block,
  ListItemBlock,
  PropertyValueTitle,
} from "../libs/notion/types";

export async function getStaticPaths() {
  const posts = await getPages();

  return posts.map((post) => ({
    params: {
      slug: post.id,
    },
    props: {
      post: post,
    },
  }));
}

const { slug } = Astro.params;
const { post } = Astro.props;
const blocks: Block[] = await getPosts(slug);
const title: PropertyValueTitle = await getTitleProperty(post);

const nodes: Block[] = [];

blocks.forEach((block: Block, index: number) => {
  const previousBlock: Block = blocks[index - 1];
  const previousNode: Block = nodes[nodes.length - 1];

  const handleListType = (
    listType: "bulleted_list" | "numbered_list",
    itemType: string,
  ) => {
    if (previousBlock?.type !== itemType && block.type === itemType) {
      const listItem: ListItemBlock = {
        id: block.id,
        type: listType,
        blocks: [block],
        has_children: false,
      };
      nodes.push(listItem);
    } else if (previousNode?.type === listType && block.type === itemType) {
      previousNode.blocks.push(block);
    }
  };

  handleListType("bulleted_list", "bulleted_list_item");
  handleListType("numbered_list", "numbered_list_item");

  if (
    block.type !== "bulleted_list_item" &&
    block.type !== "numbered_list_item"
  ) {
    nodes.push(block);
  }
});
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="prose mx-auto">
      <h1>{title.title.map((t) => t.plain_text).join("")}</h1>
      <article><Content nodes={nodes} /></article>
    </main>
    <Footer />
  </body>
</html>
