---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import FormattedDate from "../components/FormattedDate.astro";
import { getPages, getTitleProperty } from "../libs/notion/client";
import type { PropertyValueTitle } from "../libs/notion/types";

const pages = await getPages();
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="prose mx-auto">
      <section>
        <ul>
          {
            Promise.all(
              pages.map(async (page) => {
                const title: PropertyValueTitle = await getTitleProperty(page);
                return (
                  <li class="flex items-center">
                    <a href={`/${page.id}/`} class="mr-4">
                      <p class="font-bold mr-1">
                        {title.title.map((t) => t.plain_text).join("")}
                      </p>
                    </a>
                    <p>
                      <FormattedDate date={new Date(page.created_time)} />
                    </p>
                  </li>
                );
              }),
            )
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
